body{
  margin: 0px;
  padding: 0px;
  background-color: #b7b7b7;
  width: auto;
  height: auto;
}
.corps{
  display: block;
  background-color: #f1f1f1;
  width: 80%;
  height: 850px;
  margin: auto;
  margin-top: 50px;
}
.line1{
  margin: 0;
  display: block;
  background-color: black;
  z-index: 1;
  min-width:1600px;

}
